In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/wine_reviews.csv")
df.head()

,points,title,description,taster_name,taster_twitter_handle,price,designation,variety,region_1,region_2,province,country,winery
0,87,Nicosia 2013 Vulkà Bianco (Etna),"Aromas include tropical fruit, broom, brimston...",Kerin O’Keefe,@kerinokeefe,NaN,Vulkà Bianco,White Blend,Etna,NaN,Sicily & Sardinia,Italy,Nicosia
1,87,Quinta dos Avidagos 2011 Avidagos Red (Douro),"This is ripe and fruity, a wine that is smooth...",Roger Voss,@vossroger,15.0,Avidagos,Portuguese Red,NaN,NaN,Douro,Portugal,Quinta dos Avidagos
2,87,Rainstorm 2013 Pinot Gris (Willamette Valley),"Tart and snappy, the flavors of lime flesh and...",Paul Gregutt,@paulgwine,14.0,NaN,Pinot Gris,Willamette Valley,Willamette Valley,Oregon,US,Rainstorm
3,87,St. Julian 2013 Reserve Late Harvest Riesling ...,"Pineapple rind, lemon pith and orange blossom ...",Alexander Peartree,NaN,13.0,Reserve Late Harvest,Riesling,Lake Michigan Shore,NaN,Michigan,US,St. Julian
4,87,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,"Much like the regular bottling from 2012, this...",Paul Gregutt,@paulgwine,65.0,Vintner's Reserve Wild Child Block,Pinot Noir,Willamette Valley,Willamette Valley,Oregon,US,Sweet Cheeks

In [3]:
len(df)

129971

In [4]:
len(df.columns)

13

In [5]:
df.dtypes

points                     int64
title                     object
description               object
taster_name               object
taster_twitter_handle     object
price                    float64
designation               object
variety                   object
region_1                  object
region_2                  object
province                  object
country                   object
winery                    object
dtype: object

Hence `points` and `price`

In [6]:
df["price"].mean()

35.363389129985535

In [7]:
df["points"].describe()

count    129971.000000
mean         88.447138
std           3.039730
min          80.000000
25%          86.000000
50%          88.000000
75%          91.000000
max         100.000000
Name: points, dtype: float64

In [8]:
df["points"].describe().loc["75%"]

91.0

In [9]:
df["country"].nunique()

43

In [10]:
# Notice that `.unique()` includes `NaN` and therefore it's not valid!
len(df["country"].unique())

44

In [11]:
len(df.loc[(df["country"] == "France") & (df["price"] > 1000)])

12

In [12]:
df.loc[
    (df["country"] == "Argentina")
    & (df["description"].str.contains("banana")),
    "price"
].max()

46.0

In [13]:
df.groupby("country").size().sort_values(ascending=False).head(4)

country
US        54504
France    22093
Italy     19540
Spain      6645
dtype: int64

In [14]:
# Alternatively
df.groupby("country").size().nlargest(4)

country
US        54504
France    22093
Italy     19540
Spain      6645
dtype: int64

In [15]:
df.groupby("country")["points"].mean().nlargest(4)

country
England    91.581081
India      90.222222
Austria    90.101345
Germany    89.851732
Name: points, dtype: float64

In [16]:
df.groupby("province")["points"].mean().nlargest(4)

province
Südburgenland    94.000000
Madeira          93.230769
Mittelrhein      92.000000
Puente Alto      91.733333
Name: points, dtype: float64

In [17]:
df.groupby("variety")["price"].mean().nlargest(4)

variety
Ramisco             495.0
Terrantez           236.0
Francisa            160.0
Rosenmuskateller    150.0
Name: price, dtype: float64

In [18]:
df.groupby("taster_name")["country"].nunique().nlargest(4)

taster_name
Anna Lee C. Iijima    18
Susan Kostrzewa       15
Jeff Jenssen          14
Joe Czerwinski        11
Name: country, dtype: int64

In [19]:
df.groupby("province")["region_1"].nunique().nlargest(4)

province
California        180
Burgundy          114
Central Italy      68
Southern Italy     63
Name: region_1, dtype: int64

In [20]:
pivot_spanish = df.loc[df["country"] == "Spain"].pivot_table(
    index="taster_name",
    columns="province",
    values="points",
    aggfunc="median",
)
pivot_spanish

province,Andalucia,Catalonia,Central Spain,Galicia,Levante,Northern Spain,Spain Other,Spanish Islands
taster_name,,,,,,,,
Joe Czerwinski,NaN,85.0,NaN,NaN,NaN,NaN,NaN,NaN
Lauren Buzzeo,NaN,NaN,NaN,NaN,NaN,83.0,NaN,NaN
Michael Schachner,90.0,87.0,85.0,88.0,87.0,87.0,85.0,88.0
Paul Gregutt,NaN,85.5,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
pivot_spanish.iloc[2, 5]

87.0

In [22]:
pivot_expensive = df.loc[df["price"] > 1_000].pivot_table(
    index="country",
    columns="taster_name",
    values="points",
    aggfunc="mean",
)
pivot_expensive

taster_name  Anne Krebiehl MW  Matt Kettmann  Roger Voss
country
Austria                  94.0            NaN         NaN
France                    NaN            NaN   96.166667
US                        NaN           91.0         NaN

In [23]:
pivot_expensive.iloc[1, 2]

96.16666666666667

In [24]:
df["description"].str.split().str[-1].value_counts().nlargest(4)

finish.     12859
now.         6980
acidity.     3218
years.       3000
Name: description, dtype: int64

In [25]:
varieties_price = df.groupby("variety")["price"].describe()
varieties_price.head(4)

             count       mean        std   min    25%   50%   75%    max
variety
Abouriou       3.0  35.000000  34.641016  15.0  15.00  15.0  45.0   75.0
Agiorgitiko   63.0  23.571429  12.367640  10.0  15.00  20.0  27.0   66.0
Aglianico    294.0  38.887755  23.435723   6.0  22.25  33.5  49.0  180.0
Aidani         1.0  27.000000        NaN  27.0  27.00  27.0  27.0   27.0

In [26]:
(varieties_price["max"] - varieties_price["min"]).nlargest(4)

variety
Bordeaux-style Red Blend    3293.0
Pinot Noir                  2495.0
Chardonnay                  2009.0
Grüner Veltliner            1091.0
dtype: float64

In [27]:
# Alternatively
df.groupby("variety")["price"].agg(lambda s: s.max() - s.min()).nlargest(4)

variety
Bordeaux-style Red Blend    3293.0
Pinot Noir                  2495.0
Chardonnay                  2009.0
Grüner Veltliner            1091.0
Name: price, dtype: float64

In [28]:
df["review_length"] = df["description"].str.len()

In [29]:
df.groupby("taster_name")["review_length"].mean().nlargest(4)

taster_name
Matt Kettmann       293.604706
Lauren Buzzeo       288.642507
Anne Krebiehl MW    280.242605
Mike DeSimone       272.463035
Name: review_length, dtype: float64

In [30]:
# Alternatively
df.groupby("taster_name")["description"].agg(lambda s: s.str.len().mean()).nlargest(4)

taster_name
Matt Kettmann       293.604706
Lauren Buzzeo       288.642507
Anne Krebiehl MW    280.242605
Mike DeSimone       272.463035
Name: description, dtype: float64

In [31]:
df.loc[
    # na=False is needed, and means "if the variety is NaN, assume it does not contain 'pinot'"
    df["variety"].str.lower().str.contains("pinot", na=False),
    "variety"
].nunique()

21

In [32]:
# Look: two people (Jeff Jenssen and Mike DeSimone) have the same Twitter handle (@worldwineguys)!
df.groupby("taster_name")["taster_twitter_handle"].unique()

taster_name
Alexander Peartree                 [nan]
Anna Lee C. Iijima                 [nan]
Anne Krebiehl MW           [@AnneInVino]
Carrie Dykes                       [nan]
Christina Pickard      [@winewchristina]
Fiona Adams                   [@bkfiona]
Jeff Jenssen            [@worldwineguys]
Jim Gordon            [@gordone_cellars]
Joe Czerwinski                  [@JoeCz]
Kerin O’Keefe             [@kerinokeefe]
Lauren Buzzeo                [@laurbuzz]
Matt Kettmann            [@mattkettmann]
Michael Schachner          [@wineschach]
Mike DeSimone           [@worldwineguys]
Paul Gregutt               [@paulgwine ]
Roger Voss                  [@vossroger]
Sean P. Sullivan         [@wawinereport]
Susan Kostrzewa          [@suskostrzewa]
Virginie Boone                 [@vboone]
Name: taster_twitter_handle, dtype: object

In [33]:
# Therefore, doing a naïve division of .nunique() doesn't work
df["taster_twitter_handle"].nunique() / df["taster_name"].nunique()

0.7894736842105263

In [34]:
# Une way of doing the correct calculation is
df.groupby("taster_name")["taster_twitter_handle"].nunique().sum() / df["taster_name"].nunique()

0.8421052631578947

In [35]:
# Alternatively (a bit more involved)
# Notice the double square bracket to return a DataFrame instead of a Series
tasters = df.groupby("taster_name")[["taster_twitter_handle"]].first()
tasters.head(4)

                   taster_twitter_handle
taster_name
Alexander Peartree                  None
Anna Lee C. Iijima                  None
Anne Krebiehl MW             @AnneInVino
Carrie Dykes                        None

In [36]:
tasters["has_twitter"] = tasters["taster_twitter_handle"].notnull()
tasters["has_twitter"].sum() / len(tasters)

0.8421052631578947

In [37]:
# This is also wrong, for different reasons: remember that `.unique()` retains NaNs!
len(df["taster_twitter_handle"].unique()) / len(df["taster_name"].unique())

0.8

In [38]:
df.loc[
    df["title"].str.contains("2012")
    & ((df["taster_name"] == "Michael Schachner") | (df["taster_name"] == "Roger Voss")),
    "price"
].sum()

106520.0

In [39]:
df["word_count"] = df["description"].str.split().str.len()
df.loc[df["taster_name"] == "Joe Czerwinski", "word_count"].max()

88

In [40]:
descriptions = df["description"].str.lower()
descriptions.head()

0    aromas include tropical fruit, broom, brimston...
1    this is ripe and fruity, a wine that is smooth...
2    tart and snappy, the flavors of lime flesh and...
3    pineapple rind, lemon pith and orange blossom ...
4    much like the regular bottling from 2012, this...
Name: description, dtype: object

In [41]:
# In principle this should have worked,
# but I interrupted it because it was taking a very long time
# all_descriptions = descriptions.sum()

In [42]:
all_descriptions = " ".join(descriptions)

In [43]:
# You can count the words manually
word_counts = {}
for word in all_descriptions.split():
    if word not in word_counts:
        word_counts[word] = 1
    else:
        word_counts[word] += 1

sorted(word_counts.items(), key=lambda item_pair: item_pair[1], reverse=True)[:13]

[('and', 347199),
 ('the', 220802),
 ('a', 179318),
 ('of', 172882),
 ('with', 120172),
 ('this', 113584),
 ('is', 96263),
 ('in', 61814),
 ('wine', 56151),
 ('to', 55423),
 ('it', 54326),
 ('on', 45193),
 ('flavors', 41815)]

In [44]:
# Or you can use a Counter (see solutions of Session 07)
from collections import Counter

word_counts = Counter(all_descriptions.split())
word_counts.most_common(13)

[('and', 347199),
 ('the', 220802),
 ('a', 179318),
 ('of', 172882),
 ('with', 120172),
 ('this', 113584),
 ('is', 96263),
 ('in', 61814),
 ('wine', 56151),
 ('to', 55423),
 ('it', 54326),
 ('on', 45193),
 ('flavors', 41815)]