In [1]:
age = 30
age = age + 1
print(age)

31

In [2]:
first_name = "Juan Luis"
last_name = "Cano"
print(first_name + last_name)

Juan LuisCano

In [3]:
name = "John Doe"
print(name[-1])

e

In [10]:
sentence = "This is slicing syntax"
print("*" + sentence[1:10:2] + "*")

*hsi l*

In [14]:
#                                      *  *  *  *
#                 0         1         2         3         
#                 0123456789012345678901234567890123456789
tongue_twister = "She sells seashells by the seashore"
print(tongue_twister[20:3:-3])

blhese

In [20]:
name = "Tim O'Reilly"
print(name.replace("i", "o"))

Tom O'Reolly

In [21]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
my_tuple = (1, 2, 3)

In [24]:
my_tuple + (4,)

(1, 2, 3, 4)

In [25]:
my_tuple

(1, 2, 3)

In [26]:
my_list = [1, 2, 3]

In [27]:
my_list.append(4)

In [28]:
my_list

[1, 2, 3, 4]

In [37]:
container = 1, 2.0, "3", "four"
container[-1] = "x"
print(container)

TypeError: 'tuple' object does not support item assignment

In [36]:
type(container)

tuple

In [38]:
container = 1, 2.0, "3", "four"
container.append("x")
print(container)

AttributeError: 'tuple' object has no attribute 'append'

In [49]:
print(
    "jcano@faculty.ie.edu".split("@")[0].split(".")
    [0]  # Indexing a list returns a string
)

jcano

In [55]:
print(
    "jcano@faculty.ie.edu".split("@")[0].split(".")
    [-2:]  # Slicing a list returns another list
)

['jcano']

In [60]:
var = print(2 + 2)

4

In [61]:
var

In [62]:
print(var)

None

In [63]:
age = 16
if age >= 18:
    print("You can drive")
elif age < 0:
    print("The age is invalid")
else:
    print("You cannot drive yet")
print("Out of the conditional")

You cannot drive yet
Out of the conditional

In [64]:
name = "Tim O'Reilly"
for character in name:
    if character == " ":
        print("Whitespace detected:")
    print(character)

T
i
m
Whitespace detected:

O
'
R
e
i
l
l
y

In [65]:
for number in range(1, 10, 2):
    print(number)
    if number % 3 == 0:
        print("Number is divisible by 3")

1
3
Number is divisible by 3
5
7
9
Number is divisible by 3

In [67]:
1 + 0.1

1.1

In [66]:
0.1 + 0.2

0.30000000000000004

In [70]:
13454354 * 234234

3151467154836

In [71]:
4 // 2

2

In [72]:
1 // 3

0

In [69]:
4 / 2

2.0

In [68]:
1 / 3

0.3333333333333333

In [73]:
def sum_sequence(seq):
    result = 1
    for element in seq:
        result = result + element
    return result
 
print(sum_sequence([1, 2, 3]))

7

In [77]:
clients * 3

[(1, 40, 'male', 10.2),
 (2, 50, 'female', 5.4),
 (3, 23, 'female', 8.0),
 (4, 18, 'male', 2.5),
 (1, 40, 'male', 10.2),
 (2, 50, 'female', 5.4),
 (3, 23, 'female', 8.0),
 (4, 18, 'male', 2.5),
 (1, 40, 'male', 10.2),
 (2, 50, 'female', 5.4),
 (3, 23, 'female', 8.0),
 (4, 18, 'male', 2.5)]

In [86]:
clients = [
    (1, 40, "male", 10.2),
    (2, 50, "female", 5.4),
    (3, 23, "female", 8.0),
    (4, 18, "male", 2.5),
]
 
def extract(clients):
    result = []
    for client in clients:
        result.append(client[3])
    return result
 
print(extract(clients))

[10.2, 5.4, 8.0, 2.5]

In [87]:
([],[])

([], [])

In [88]:
_87[0].append(1)

In [89]:
_87

([1], [])

In [91]:
_87[0] = "x"

TypeError: 'tuple' object does not support item assignment

In [92]:
my_dictionary = {
    "key_1": "A",
    "key_2": "B",
    "key_3": "C",
}
 
my_dictionary["key_3"] = "CXX"
my_dictionary["key_4"] = "D"
print(my_dictionary)

{'key_1': 'A', 'key_2': 'B', 'key_3': 'CXX', 'key_4': 'D'}

In [101]:
my_dictionary = {
    "key_1": "A",
    "key_2": "B",
    "key_3": "C",
}
 
# for something in my_dictionary:
for something in my_dictionary.keys():
    print(something, my_dictionary[something])

key_1 A
key_2 B
key_3 C

In [102]:
entities = {
  "hashtags": [
    {
      "text": "balboaisland",
      "indices": [
        21,
        34
      ]
    },
    {
      "text": "newportbeach",
      "indices": [
        35,
        48
      ]
    },
  ],
  "symbols": [],
  "user_mentions": [],
  "urls": [
    {
      "url": "https://t.co/px1GCH1bgZ",
      "expanded_url": "https://twitter.com/i/web/status/1252840795737997317",
      "display_url": "twitter.com/i/web/status/1\u2026",
      "indices": [
        107,
        130
      ]
    },
    {
      "url": "https://t.co/ksjdhfksjr",
      "expanded_url": "https://ecosia.org",
      "display_url": "ecosia.org",
      "indices": [
        131,
        145
      ]
    }
  ]
}

In [ ]:
def parse_urls(entities):
    urls = entities["urls"]
    expanded_urls = []
    for url_info in urls:
        url_tuple = (url_info["expanded_url"],) + tuple(url_info["indices"])
        expanded_urls.append(url_tuple)
    return expanded_urls
print(parse_urls(entities))

In [110]:
("xxx",) + (1, 2)

('xxx', 1, 2)

In [105]:
import json

with open("data.json", "w") as fh:
    json.dump(entities, fh)

In [111]:
list_of_dicts = [
    {"a": 1},
    {"b": 2},
]

In [113]:
for element in list_of_dicts:
    print(type(element))

<class 'dict'>
<class 'dict'>

In [123]:
my_tuple = 1, 2, 3

In [126]:
my_tuple = my_tuple + my_tuple

my_tuple

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)