Data obtained from https://datos.civio.es/dataset/presion-asistencial-por-profesional-de-atencion-primaria-y-centro-de-salud-en-la-comunidad-de-madrid/, gracias ♥

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("../data/primary-health-care-patients-per-day-madrid.xlsx")
df.head()

,CCAA,Municipio,area_code,area_name,CS_name,especialidad,2018,2019,2020,2021,2022
0,Madrid,Madrid,MD_03,Dirección asistencial centro,C.S. Abrantes,MED,35.20,37.46,39.634278,34.661169,40.245351
1,Madrid,Madrid,MD_02,Dirección asistencial sureste,C.S. Adelfas,MED,30.60,29.66,32.691023,34.542173,33.919043
2,Madrid,Madrid,MD_05,Dirección asistencial noroeste,C.S. Alameda,MED,30.95,28.58,30.949490,31.437359,31.321581
3,Madrid,Madrid,MD_06,Dirección asistencial este,C.S. Alameda de Osuna,MED,33.08,32.14,32.476944,33.704641,32.673721
4,Madrid,Madrid,MD_02,Dirección asistencial sureste,C.S. Alcalá de Guadaira,MED,32.79,31.77,32.017623,36.131579,34.003979

In [3]:
len(df)

786

In [4]:
len(df.columns)

11

In [5]:
df["Municipio"].nunique()

58

In [6]:
df[2022].mean()

24.832546078743036

In [7]:
df[2020].describe()

count    785.000000
mean      25.079617
std        6.696282
min        7.190476
25%       19.900281
50%       23.041096
75%       30.791134
max       52.985123
Name: 2020, dtype: float64

In [8]:
df.loc[df[2022] > 40, "CS_name"].nunique()

16

In [9]:
df.groupby("Municipio")[2022].mean().nlargest(5)

Municipio
Colmenar Viejo           28.560920
Navalcarnero             28.535246
Aranjuez                 28.208033
San Martín de la Vega    27.953738
Manzanares El Rel        27.804437
Name: 2022, dtype: float64

In [10]:
df["abs_pressure_diff"] = abs(df[2022] - df[2018])

In [11]:
df.groupby("area_code")["abs_pressure_diff"].max().nlargest()

area_code
MD_04    11.175961
MD_02     9.739959
MD_01     9.489197
MD_07     9.442581
MD_06     9.138383
Name: abs_pressure_diff, dtype: float64

In [12]:
df.groupby("especialidad")[2018].mean().nsmallest(1)

especialidad
ENF    20.905267
Name: 2018, dtype: float64

In [13]:
df.loc[df["area_code"] == "MD_06", "Municipio"].unique()

array(['Madrid', 'Torrejón de Ardoz', 'Alcalá de Henares', 'Meco',
       'Torres de la Alameda'], dtype=object)

In [14]:
# You can make a set subtraction operation to find the answer
(
    {"Madrid", "Alcobendas", "Alcalá de Henares", "Torrejón de Ardoz"}
    - set(df.loc[df["area_code"] == "MD_06", "Municipio"].unique())
)

{'Alcobendas'}

In [15]:
df.loc[df["Municipio"] == "Madrid", "area_code"].unique()

array(['MD_03', 'MD_02', 'MD_05', 'MD_06', 'MD_07'], dtype=object)

In [16]:
(
    {"MD_01", "MD_02", "MD_03", "MD_05"}
    - set(df.loc[df["Municipio"] == "Madrid", "area_code"].unique())
)

{'MD_01'}

In [17]:
med_pivot = df.loc[df["especialidad"] == "MED"].pivot_table(
    index="area_code",
    values=[2021, 2022],
    aggfunc="median"
)
med_pivot

                2021       2022
area_code
MD_01      38.396536  38.197700
MD_02      34.636864  34.561254
MD_03      33.909048  32.195853
MD_04      36.430677  35.995796
MD_05      34.436184  32.457619
MD_06      32.537813  32.644123
MD_07      33.459082  31.929757

In [18]:
med_pivot.iloc[0, 1]

38.1977002967359

In [19]:
md_05_pivot = df.loc[df["area_code"] == "MD_05"].pivot_table(
    index="Municipio",
    columns="especialidad",
    values=[2021, 2022],
    aggfunc="median"
)
md_05_pivot

                               2021                             2022  \
especialidad                    ENF        MED        PED        ENF
Municipio
Boadilla del Monte        21.385105  34.811298  24.119534  20.565316
Cercedilla                24.341240  36.634456  22.242826  20.385866
Collado Villalba          24.726770  34.787886  22.272287  19.257943
Galapagar                 22.777384  35.237767  18.675115  19.766074
Guadarrama                23.852811  40.244050  22.522860  20.385616
Las Rozas                 20.750207  34.215690  22.023122  19.902372
Madrid                    20.559584  31.978223  22.075093  17.565100
Majadahonda               21.262378  34.609983  19.147242  19.101773
Pozuelo de Alarcón        23.274596  33.263729  17.590504  19.829233
Robledo de Chavela        22.646853  39.257353  20.101523  20.680523
San Lorenzo del Escorial  22.498043  39.826502  24.674785  20.221932
Torrelodones              24.027708  36.180848  25.687243  21.076077
Villanueva de la Cañada   24.369955  35.107830  21.562300  20.945373


especialidad                    MED        PED
Municipio
Boadilla del Monte        34.037013  22.472484
Cercedilla                36.067294  21.872159
Collado Villalba          36.113558  20.478723
Galapagar                 33.049313  17.827174
Guadarrama                40.103268  22.828885
Las Rozas                 32.622031  21.982684
Madrid                    30.179459  20.301286
Majadahonda               32.961597  20.519704
Pozuelo de Alarcón        31.833708  16.948875
Robledo de Chavela        36.267086  17.594406
San Lorenzo del Escorial  37.003359  25.428727
Torrelodones              34.405169  22.246715
Villanueva de la Cañada   35.175666  20.120438

In [20]:
md_05_pivot.iloc[2, 0]

24.726769911504423

In [21]:
df["CS_name"].str[5:].str.len().max()

27

In [22]:
df.groupby("Municipio").mean().loc[:, 2018:2022].mean(axis="columns").nlargest()

Municipio
Aranjuez                 29.345159
Villa del Prado          28.936673
Colmenar Viejo           28.792953
Valdemoro                28.261313
San Martín de la Vega    28.147018
dtype: float64

In [23]:
# Alternatively
df["mean_pressure"] = df.loc[:, 2018:2022].mean(axis="columns")

In [24]:
df.head()

,CCAA,Municipio,area_code,area_name,CS_name,especialidad,2018,2019,2020,2021,2022,abs_pressure_diff,mean_pressure
0,Madrid,Madrid,MD_03,Dirección asistencial centro,C.S. Abrantes,MED,35.20,37.46,39.634278,34.661169,40.245351,5.045351,37.440160
1,Madrid,Madrid,MD_02,Dirección asistencial sureste,C.S. Adelfas,MED,30.60,29.66,32.691023,34.542173,33.919043,3.319043,32.282448
2,Madrid,Madrid,MD_05,Dirección asistencial noroeste,C.S. Alameda,MED,30.95,28.58,30.949490,31.437359,31.321581,0.371581,30.647686
3,Madrid,Madrid,MD_06,Dirección asistencial este,C.S. Alameda de Osuna,MED,33.08,32.14,32.476944,33.704641,32.673721,0.406279,32.815061
4,Madrid,Madrid,MD_02,Dirección asistencial sureste,C.S. Alcalá de Guadaira,MED,32.79,31.77,32.017623,36.131579,34.003979,1.213979,33.342636

In [25]:
df.groupby("Municipio")["mean_pressure"].mean().nlargest()

Municipio
Aranjuez                 29.345159
Villa del Prado          28.936673
Colmenar Viejo           28.792953
Valdemoro                28.261313
San Martín de la Vega    28.147018
Name: mean_pressure, dtype: float64