## Data

In [1]:
import requests

DATA_URL = (
    "https://github.com/astrojuanlu/ie-mbd-python-data-analysis-i/"
    "raw/main/data/twitter_data.json"
)

data = requests.get(DATA_URL).json()
print(type(data), len(data))

<class 'list'> 9

## Exercises

### 1. Cities of tweets

Build a set of the cities in which the tweets written. How many distinct cities are there?

In [10]:
# data[0]["name"]  # KeyError

In [4]:
cities = {tweet["place"]["name"] for tweet in data}
print(cities)
len(cities)

{'Dixon', 'Newport Beach', 'San Francisco', 'Oakland', 'Modesto', 'West Hollywood', 'Los Angeles'}

7

In [12]:
cities = []
for tweet in data:
    cities.append(tweet["place"]["name"])
cities = set(cities)
cities

{'Dixon',
 'Los Angeles',
 'Modesto',
 'Newport Beach',
 'Oakland',
 'San Francisco',
 'West Hollywood'}

### 2. How many tweets in each city

Build a dictionary, where the keys are cities and the values are the number of tweets in each city.

In [16]:
type({})  # An empty dictionary

dict

In [17]:
type(set())  # An empty set

set

In [18]:
# Start with an empty dictionary
# For every distinct city, set dictionary[city] to 0
# For every tweet, increase the value of dictionary[city] in +1

In [20]:
["en", "en", "pt"].count("en")  # The "en" string appears 2 times

2

### 3. How many unique hashtags

Build a set of unique, **lowercase** hashtag texts.

### 4. How many tweets mentioning each hashtag

Build a dictionary, where the keys are the lowercase hashtag texts and the values the number of tweets containing each hashtag. Is there any hashtag that appears more than once?