In [1]:
import json

In [2]:
with open("twitter_data.json") as fh:
    data = json.load(fh)

In [3]:
import pandas as pd

In [4]:
df = pd.json_normalize(data)

In [7]:
df.head(2)

,created_at,id,id_str,text,truncated,source,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,quoted_status.contributors,quoted_status.is_quote_status,quoted_status.retweet_count,quoted_status.favorite_count,quoted_status.favorited,quoted_status.retweeted,quoted_status.possibly_sensitive,quoted_status.lang,quoted_status.entities.media,quoted_status.extended_entities.media
0,Wed Apr 22 06:04:57 +0000 2020,1252840795737997317,1252840795737997317,Tennis a la Balboa.\n\n#balboaisland #newportb...,True,"<a href=""http://instagram.com"" rel=""nofollow"">...",None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fri May 01 16:27:52 +0000 2020,1256259052461592580,1256259052461592580,#Repost bandcamp\n• • • • • •\nTo keep support...,True,"<a href=""http://instagram.com"" rel=""nofollow"">...",None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN