# Session 11

## Introducing pandas objects

pandas is the most widely used Python library to read and manipulate tabular data. Its most important object is the `DataFrame`, which represents a rectangular table of rows and columns.

To start using pandas, you need to import it first. The most common way to import pandas is this:

In [1]:
import pandas as pd

All the pandas functions will be accessible under the `pd` alias:

In [2]:
pd.__version__

'1.4.2'

Each of the columns of a `DataFrame` is a `Series` object. `Series` are mutable (hence you can add, remove, and replace elements) and homogeneous (all its elements must have the same type). As you will see, `Series` can be indexed by numerical position (like lists) or by label (like dictionaries).

For example, let's create a `Series` from a Python `list`:

In [3]:
my_list = list(range(10, 15))
my_list

[10, 11, 12, 13, 14]

In [4]:
ser = pd.Series(my_list)
ser

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [5]:
type(ser)

pandas.core.series.Series

`Series` have an important property, the `dtype`, that holds the type of its individual elements. As you can see in the string representation of the `Series`, the `dtype` of `ser` is `int64`, which means that `ser` is a `Series` of integers.

In [6]:
ser.dtype

dtype('int64')

<div class="alert alert-info">The <code>64</code> part in <code>int64</code> alludes to how much memory does pandas use to store those integers, which is fixed to 64 bits. This means that, contrary to Python integers, there is a maximum integer pandas can store in an <code>int64</code>. But you don't need to worry about that now.</div>

`Series` objects have a large number of methods, including some typical statistical and aggregation ones:

In [7]:
ser.max(), ser.min()

(14, 10)

In [8]:
ser.mean(), ser.median(), ser.std()

(12.0, 12.0, 1.5811388300841898)

And some more sophisticated methods:

In [9]:
ser.describe()

count     5.000000
mean     12.000000
std       1.581139
min      10.000000
25%      11.000000
50%      12.000000
75%      13.000000
max      14.000000
dtype: float64

A `Series` has some `values` and an `index`. The `index` will become very important when working with `DataFrame`s.

In [10]:
ser

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [11]:
ser.values

array([10, 11, 12, 13, 14])

In [12]:
ser.index

RangeIndex(start=0, stop=5, step=1)

You can refer to values by index using the `.loc` accessor:

In [13]:
ser.loc[0]

10

<div class="alert alert-warning">Notice that we don't call <code>loc</code> a <em>method</em> because it is not called! It is a special object that "abuses" the indexing/slicing syntax. If you call it with parenthesis, you will get an error.</div>

The semantics of `.loc` with respect to slicing are slightly different from the base ones from Python. Most importantly, the end of the slice is included!

In [14]:
ser.loc[1:3]

1    11
2    12
3    13
dtype: int64

As mentioned before, `DataFrame` objects are rectangular tables formed by a number of columns (`Series` objects). Each column can have a different `dtype`, but all of them must have the same number of rows.

`DataFrame` objects can be created with the `DataFrame()` initializer as you did earlier with `Series`, but in most cases they will appear as a result of other function or method calls, for example `pandas.read_csv`:

In [15]:
df = pd.read_csv("../data/national_covid19.csv")

It's a good practice to display the first few rows of the `DataFrame` right after opening it:

In [16]:
df.head()

,date,cases_total,cases_pcr,cases_test_ab,discharges,deceases,icu,hospitalized
0,2020-02-21,3.0,3,NaN,NaN,NaN,NaN,NaN
1,2020-02-22,3.0,3,NaN,NaN,NaN,NaN,NaN
2,2020-02-23,3.0,3,NaN,NaN,NaN,NaN,NaN
3,2020-02-24,3.0,3,NaN,NaN,NaN,NaN,NaN
4,2020-02-25,4.0,4,NaN,NaN,NaN,NaN,NaN

Notice that you can retrieve the `dtypes` of the `DataFrame` (it's no longer a single `dtype`!) as well as a few other important properties:

In [17]:
df.dtypes

date              object
cases_total      float64
cases_pcr          int64
cases_test_ab    float64
discharges       float64
deceases         float64
icu              float64
hospitalized     float64
dtype: object

In [18]:
df.shape

(183, 8)

Some clarifications:

- The `object` dtype means something pandas couldn't parse. Could be a string, a string representing a date, or something completely different. In most cases it means `str`, but be careful when they appear.
- `float64` is similar to `int64`: a floating point value with 64 bits of precision.
- `NaN` means "Not a Number" and in general it means "missing value". In following sessions you will see how to effectively handle missing values, and what do they mean.

`DataFrame` objects have a large number of methods as well. When calling aggregation methods like `max()` or `mean()`, by default they're applied to all columns:

In [19]:
df.max()

date             2020-09-10
cases_total        280117.0
cases_pcr            554143
cases_test_ab       47080.0
discharges         150376.0
deceases            29699.0
icu                 12700.0
hospitalized       138917.0
dtype: object

In [20]:
df.describe()

,cases_total,cases_pcr,cases_test_ab,discharges,deceases,icu,hospitalized
count,91.000000,183.000000,48.000000,71.000000,171.000000,115.000000,117.000000
mean,131623.747253,209864.874317,21786.166667,63269.084507,21883.994152,11656.826087,125698.555556
std,107000.307291,126527.584749,17522.577549,52674.500062,9955.662054,384.250564,4743.664351
min,3.000000,3.000000,12.000000,24.000000,1.000000,10688.000000,113149.000000
25%,8716.000000,145125.500000,1798.250000,7408.500000,18591.500000,11408.500000,123987.000000
50%,142533.000000,234824.000000,20750.000000,59165.000000,27136.000000,11650.000000,124964.000000
75%,236720.000000,252784.500000,39472.000000,113363.000000,28418.000000,11793.000000,126880.000000
max,280117.000000,554143.000000,47080.000000,150376.000000,29699.000000,12700.000000,138917.000000

## Indexing

To extract a single column, use the indexing syntax, like you would do with a dictionary, to return a `Series`:

In [21]:
df["cases_total"]

0      3.0
1      3.0
2      3.0
3      3.0
4      4.0
      ...
178    NaN
179    NaN
180    NaN
181    NaN
182    NaN
Name: cases_total, Length: 183, dtype: float64

For anything else (retrieving a slice of columns, slicing both rows and columns), use the `.loc` accessor instead:

In [22]:
df.loc[:, "deceases":]  # All rows, from the "deceases" column to the last one

     deceases      icu  hospitalized
0         NaN      NaN           NaN
1         NaN      NaN           NaN
2         NaN      NaN           NaN
3         NaN      NaN           NaN
4         NaN      NaN           NaN
..        ...      ...           ...
178   29418.0  12471.0      136322.0
179   29516.0  12566.0      137288.0
180   29594.0  12615.0      137863.0
181   29628.0  12660.0      138410.0
182   29699.0  12700.0      138917.0

[183 rows x 3 columns]

In [23]:
df.loc[:5, ["cases_total", "cases_pcr"]]  # Rows up to the one with the index 5 inclusive, columns "cases_total" and "cases_pcr" only

   cases_total  cases_pcr
0          3.0          3
1          3.0          3
2          3.0          3
3          3.0          3
4          4.0          4
5         10.0         10

In [24]:
df.loc[
    [100, 110],  # Rows labeled 5 and 10
    ["icu", "hospitalized"]
]

         icu  hospitalized
100  11400.0      123871.0
110  11613.0      124479.0

Notice that these methods work for _any_ `DataFrame`. For example, the result of `.describe()` is _also_ a `DataFrame`!

In [25]:
stats = df.describe()
stats

,cases_total,cases_pcr,cases_test_ab,discharges,deceases,icu,hospitalized
count,91.000000,183.000000,48.000000,71.000000,171.000000,115.000000,117.000000
mean,131623.747253,209864.874317,21786.166667,63269.084507,21883.994152,11656.826087,125698.555556
std,107000.307291,126527.584749,17522.577549,52674.500062,9955.662054,384.250564,4743.664351
min,3.000000,3.000000,12.000000,24.000000,1.000000,10688.000000,113149.000000
25%,8716.000000,145125.500000,1798.250000,7408.500000,18591.500000,11408.500000,123987.000000
50%,142533.000000,234824.000000,20750.000000,59165.000000,27136.000000,11650.000000,124964.000000
75%,236720.000000,252784.500000,39472.000000,113363.000000,28418.000000,11793.000000,126880.000000
max,280117.000000,554143.000000,47080.000000,150376.000000,29699.000000,12700.000000,138917.000000

In [26]:
type(stats)

pandas.core.frame.DataFrame

In [27]:
stats.loc["min":"max", ["cases_total", "icu"]]

     cases_total      icu
min          3.0  10688.0
25%       8716.0  11408.5
50%     142533.0  11650.0
75%     236720.0  11793.0
max     280117.0  12700.0

## Selection

Filtering a `DataFrame` according to some condition is also done with the `.loc` accessor. For this, you can leverage the fact that operations between pandas `DataFrame` or `Series` objects and Python scalars are broadcasted automatically. In other words: operations are performed in sequence for all the elements of the pandas object.

In [28]:
3 > 100  # Returns False

False

In [29]:
df["cases_total"] > 100  # Returns a Series of boolean values

0      False
1      False
2      False
3      False
4      False
       ...
178    False
179    False
180    False
181    False
182    False
Name: cases_total, Length: 183, dtype: bool

Does the previous `Series` contain any `True` value? You can check with the `.any()` method:

In [30]:
cases_filter = df["cases_total"] > 100
cases_filter.any()

True

In [31]:
cases_filter.dtype

dtype('bool')

You can use this filter or mask inside `.loc` to select a subset of rows:

In [32]:
df.loc[cases_filter]

,date,cases_total,cases_pcr,cases_test_ab,discharges,deceases,icu,hospitalized
10,2020-03-02,138.0,138,NaN,NaN,NaN,NaN,NaN
11,2020-03-03,195.0,195,NaN,NaN,NaN,NaN,NaN
12,2020-03-04,269.0,269,NaN,NaN,1.0,NaN,NaN
13,2020-03-05,351.0,351,NaN,NaN,3.0,NaN,NaN
14,2020-03-06,533.0,533,NaN,NaN,5.0,NaN,NaN
...,...,...,...,...,...,...,...,...
86,2020-05-17,278020.0,231651,46369.0,149579.0,27634.0,11378.0,123835.0
87,2020-05-18,278548.0,231966,46582.0,150376.0,27693.0,11391.0,123991.0
88,2020-05-19,279012.0,232246,46766.0,NaN,27793.0,11403.0,124421.0
89,2020-05-20,279662.0,232693,46969.0,NaN,27892.0,11434.0,124381.0
90,2020-05-21,280117.0,233037,47080.0,NaN,27940.0,11454.0,124521.0

Combining filters requires some care, because the usual boolean Python operators don't work:

In [33]:
(3 > 100) and (3 < 1_000)

False

In [34]:
(df["cases_total"] > 100) and (df["cases_total"] < 1_000)  # Fails!

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

To operate boolean pandas `Series`, you need to use the bitwise operators:

- Bitwise OR `|`
- Bitwise AND `&`
- Bitwise NOT `~`

In [35]:
# Select rows with cases_total between 100 and 1000
cases_filter = (100 < df["cases_total"]) & (df["cases_total"] < 1_000)
df.loc[cases_filter]

,date,cases_total,cases_pcr,cases_test_ab,discharges,deceases,icu,hospitalized
10,2020-03-02,138.0,138,NaN,NaN,NaN,NaN,NaN
11,2020-03-03,195.0,195,NaN,NaN,NaN,NaN,NaN
12,2020-03-04,269.0,269,NaN,NaN,1.0,NaN,NaN
13,2020-03-05,351.0,351,NaN,NaN,3.0,NaN,NaN
14,2020-03-06,533.0,533,NaN,NaN,5.0,NaN,NaN
15,2020-03-07,768.0,768,NaN,NaN,8.0,NaN,NaN

In [36]:
# Select cases where "icu" is not null, equivalent to
# df.loc[df["icu"].notnull()]
df.loc[~df["icu"].isnull()]

,date,cases_total,cases_pcr,cases_test_ab,discharges,deceases,icu,hospitalized
68,2020-04-29,238456.0,214387,24069.0,108947.0,24272.0,10688.0,114994.0
69,2020-04-30,241653.0,215663,25990.0,112050.0,24537.0,10745.0,115787.0
70,2020-05-01,244848.0,216965,27883.0,114676.0,24818.0,10826.0,116497.0
71,2020-05-02,247516.0,218394,29122.0,117248.0,25097.0,10876.0,117021.0
72,2020-05-03,249050.0,219277,29773.0,118902.0,25260.0,10940.0,117550.0
...,...,...,...,...,...,...,...,...
178,2020-09-04,NaN,498989,NaN,NaN,29418.0,12471.0,136322.0
179,2020-09-07,NaN,525549,NaN,NaN,29516.0,12566.0,137288.0
180,2020-09-08,NaN,534513,NaN,NaN,29594.0,12615.0,137863.0
181,2020-09-09,NaN,543379,NaN,NaN,29628.0,12660.0,138410.0
182,2020-09-10,NaN,554143,NaN,NaN,29699.0,12700.0,138917.0

## Exercises

### 1. Selecting rows and columns

Display the PCR cases and discharges where the total cases are between 2000 and 500000 and ICU cases are less than 100000.

### 2. Loading semi-structured data

Load the `reddit_all.json` data to a Python object, then use the method `pandas.DataFrame.from_records` to turn the list of posts into a `DataFrame`:

In [66]:
import requests

DATA_URL = (
    "https://github.com/astrojuanlu/ie-mbd-python-data-analysis-i/"
    "raw/main/data/reddit_all.json"
)

data = requests.get(DATA_URL).json()
print(type(data), len(data))

<class 'dict'> 2

In [67]:
...
df_posts.head()

,approved_at_utc,subreddit,selftext,author_fullname,saved,mod_reason_title,gilded,clicked,title,link_flair_richtext,...,subreddit_subscribers,created_utc,num_crossposts,media,is_video,post_hint,preview,link_flair_template_id,crosspost_parent_list,crosspost_parent
0,None,wallstreetbets,,t2_amboe4pe,False,None,2,False,🔮WallStreetBets Predictions Tournament for Oct...,[],...,12952239,1.666916e+09,20,None,False,NaN,NaN,NaN,NaN,NaN
1,None,funny,,t2_2ta10nt2,False,None,0,False,The perfect ad...,[],...,44163467,1.666948e+09,5,"{'reddit_video': {'bitrate_kbps': 2400, 'fallb...",True,hosted:video,{'images': [{'source': {'url': 'https://extern...,85409106-7d50-11e7-a2b0-0ea49b7e8eb0,NaN,NaN
2,None,aww,,t2_b8tjnz2o,False,None,0,False,My own little house elf,[],...,32474395,1.666951e+09,1,None,False,image,{'images': [{'source': {'url': 'https://extern...,NaN,NaN,NaN
3,None,me_irl,,t2_g7uxrjse,False,None,0,False,Me_irl,[],...,6627159,1.666943e+09,8,None,False,image,{'images': [{'source': {'url': 'https://previe...,NaN,NaN,NaN
4,None,LeopardsAteMyFace,,t2_pvm3eesf,False,None,0,False,Ted Cruz is suprised to learn that delaying vo...,[],...,895163,1.666950e+09,0,None,False,image,{'images': [{'source': {'url': 'https://previe...,NaN,NaN,NaN