## Data

| Id | Age (years) | Sex | Average monthly consumption (GB) |
| --- | --- | --- | --- |
| 1 | 40 | male | 10.2 |
| 2 | 50 | female | 5.4 |
| 3 | 23 | female | 8.0 |
| 4 | 18 | male | 2.5 |

In [1]:
clients = [
    (1, 40, "male", 10.2),
    (2, 50, "female", 5.4),
]
clients

[(1, 40, 'male', 10.2), (2, 50, 'female', 5.4)]

In [5]:
clients[0][3]  # To get the consumption

10.2

In [8]:
client1 = {
    "id": 1,
    "age": 40,
    "sex": "male",
    "consumption": 10.2,
}
client1

{'id': 1, 'age': 40, 'sex': 'male', 'consumption': 10.2}

In [11]:
client1["consumption"]

10.2

In [14]:
# Dictionaries are mutable,
# I can add keys on the fly or modify
client1["country"] = "Germany"

In [15]:
client1

{'id': 1, 'age': 40, 'sex': 'male', 'consumption': 10.2, 'country': 'Germany'}

In [17]:
# One can have dictionaries with non-string keys
d = {0: "a", 1: "b"}
d[0]

'a'

In [28]:
# Every hashable (~immutable) object works as key
{
    (1, 2, 3): "a",
    (4, 5, 6): "b"
}

{(1, 2, 3): 'a', (4, 5, 6): 'b'}

In [29]:
_28[(1, 2, 3)]

'a'

In [20]:
# Keys can have heterogeneous types
{0: "a", "b": "b"}

{0: 'a', 'b': 'b'}

In [23]:
{
    [1, 2, 3]: "a"
}

TypeError: unhashable type: 'list'

## Data

| Id | Age (years) | Sex | Average monthly consumption (GB) |
| --- | --- | --- | --- |
| 1 | 40 | male | 10.2 |
| 2 | 50 | female | 5.4 |
| 3 | 23 | female | 8.0 |
| 4 | 18 | male | 2.5 |

In [36]:
# List of dictionaries
clients = [
    {"id": 1, "age": 40, "sex": "male", "consumption": 10.2},
    # client1,
    {"id": 2, "age": 50, "sex": "female", "consumption": 5.4},
    {"id": 3, "age": 23, "sex": "female", "consumption": 8.0},
    {"id": 4, "age": 18, "sex": "male", "consumption": 2.5},
]

In [32]:
# Dictionary of lists
clients_alt = {
    "id": [1, 2, 3, 4],
    "age": [40, 50, 23, 18],
    "sex": ["male", "female", "female", "male"],
    "consumption": [10.2, 5.4, 8.0, 2.5]
}

In [47]:
#for element in client1:  # Same as below
for element in client1.keys():
    print(element)

id
age
sex
consumption
country

In [48]:
for value in client1.values():
    print(value)

1
40
male
10.2
Germany

In [43]:
a, b = 1, 2  # Multiple assignment, tuple unpacking
print(a)
print(b)

1
2

In [44]:
for key, value in client1.items():
    print(key, "==>", value)

id ==> 1
age ==> 40
sex ==> male
consumption ==> 10.2
country ==> Germany

In [49]:
clients

[{'id': 1, 'age': 40, 'sex': 'male', 'consumption': 10.2},
 {'id': 2, 'age': 50, 'sex': 'female', 'consumption': 5.4},
 {'id': 3, 'age': 23, 'sex': 'female', 'consumption': 8.0},
 {'id': 4, 'age': 18, 'sex': 'male', 'consumption': 2.5}]

In [53]:
clients[0]

{'id': 1, 'age': 40, 'sex': 'male', 'consumption': 10.2}

In [57]:
for k, v in clients[3].items():
    print(k, v)

id 4
age 18
sex male
consumption 2.5

In [60]:
for client in clients:
    print("Iterating over client ", client["id"])
    for key, value in client.items():
        print(key, "=>", value)

Iterating over client  1
id => 1
age => 40
sex => male
consumption => 10.2
Iterating over client  2
id => 2
age => 50
sex => female
consumption => 5.4
Iterating over client  3
id => 3
age => 23
sex => female
consumption => 8.0
Iterating over client  4
id => 4
age => 18
sex => male
consumption => 2.5

## Exercises

### 1. Print the ages

Print only the age of every client

In [62]:
for client in clients:
    print("Iterating over client ", client["id"])
    print(client["age"])

Iterating over client  1
40
Iterating over client  2
50
Iterating over client  3
23
Iterating over client  4
18

In [63]:
for client in clients:
    print(client["age"])

40
50
23
18

In [65]:
# clients_alt["age"]

In [66]:
ages = []

for client in clients:
    ages.append(client["age"])
ages

[40, 50, 23, 18]

In [68]:
sum(ages) / len(ages)

32.75

In [70]:
total_age = 0

for client in clients:
    total_age += client["age"]

total_age / len(clients)

32.75

### 2. Compute the average age

Compute the average age of my clients

### 1. Compute the mean

Create a function called `compute_mean` that receives a list of numerical values and computes the **mean**.

### 2. Basic insights

Create a function called `mean_consumption` that receives `clients_data` with the format above, and returns the **mean average consumption**.