Logistics:

- Type password
- Launch zoom
- Sign in on laptop
- Open campus

Outline & timing (80 minutes, 1h20m):

- `_5m ( 5m)` 

Ideas:

- Optional exercise
- Strings as containers: indexing and slicing, `len` of a container
- Tuples as heterogeneous containers
- Lists as mutable tuples! Tuples and strings don't allow overriding individual elements, lists do
- Concatenation of lists, multiplication of list and number
- Explain the concept of mutability. Now what is a variable?
- ranges
- Arithmetic operations over containers don't work directly

Exercises:

- Weird list
- Extract titles

In [1]:
name = "Juan Luis"

In [2]:
name[0:5:2]

'Ja '

In [3]:
name[1::2]

'unLi'

In [5]:
# Strings are immutable, so this fails
name[0] = "X"

TypeError: 'str' object does not support item assignment

In [7]:
# ...which doesn't prevent variable (re)assignment!
name = "Xuan Luis"
name

'Xuan Luis'

In [8]:
my_tuple = 1, 2.0, "3", "four"
my_tuple

(1, 2.0, '3', 'four')

In [9]:
my_tuple[0]

1

In [10]:
len(my_tuple)

4

In [11]:
my_tuple[:3]

(1, 2.0, '3')

In [12]:
len(my_tuple[-1])

4

In [17]:
my_tuple

(1, 2.0, '3', 'four')

In [13]:
type(my_tuple)

tuple

In [16]:
my_tuple[-1]

'four'

In [15]:
my_tuple[-1][-2]

'u'

In [18]:
# Tuples are also immutable
my_tuple[0] = "whatever"

TypeError: 'tuple' object does not support item assignment

In [26]:
my_list = [1, 2.0, "3", "four"]
my_list

[1, 2.0, '3', 'four']

In [27]:
my_list[0]

1

In [28]:
my_list[0] = "one"

In [29]:
my_list

['one', 2.0, '3', 'four']

In [36]:
my_list

['one', 2.0, '3', 'four']

In [35]:
another_tuple = tuple(my_list)
another_tuple

('one', 2.0, '3', 'four')

In [40]:
var = (
    [
        (
            [
                (1, 2)
            ]
        )
    ]
)
var

[[(1, 2)]]

In [50]:
first_numbers = list(range(5, 10, 2))
first_numbers

[5, 7, 9]

In [51]:
name = "Juan Luis"
name

'Juan Luis'

In [53]:
name.split()[0]

'Juan'

In [57]:
email_parts = "jcano@faculty.ie.edu".split("@")
email_parts

['jcano', 'faculty.ie.edu']

In [58]:
email_parts[0].split(".")

['jcano']

In [59]:
email_parts[1].split(".")

['faculty', 'ie', 'edu']

In [60]:
_58 + _59

['jcano', 'faculty', 'ie', 'edu']

In [67]:
parts = "Pieter".split("e")
parts

['Pi', 't', 'r']

In [68]:
"Maria".split("a")

['M', 'ri', '']

## Exercises

### 1. Weird list

Create this list without conditionals, loops, or hardcoding the values:

```
[49, 0, 47, 0, 45, 0, 43, 0, 41, 0, 39, 0, 37, 0, 35, 0, 33, 0, 31, 0, 29, 0, 27, 0, 25, 0, 23, 0, 21, 0, 19, 0, 17, 0, 15, 0, 13, 0, 11, 0, 9, 0, 7, 0, 5, 0, 3, 0, 1, 0]
```

In [3]:
# Avoid variable names from Python built-in functions!
# list = [1, 2, 3]

In [11]:
# Alternative using `reversed`
# print(list(reversed(range(50))))

In [19]:
weird_list = list(range(49, -1, -1))
weird_list[1::2] = [0] * 25
print(weird_list)

[49, 0, 47, 0, 45, 0, 43, 0, 41, 0, 39, 0, 37, 0, 35, 0, 33, 0, 31, 0, 29, 0, 27, 0, 25, 0, 23, 0, 21, 0, 19, 0, 17, 0, 15, 0, 13, 0, 11, 0, 9, 0, 7, 0, 5, 0, 3, 0, 1, 0]

### 2. Extract titles

Given the following list of names:

- Braund, Mr. Owen Harris
- Cumings, Mrs. John Bradley (Florence Briggs Thayer)
- Heikkinen, Miss. Laina
- Futrelle, Mrs. Jacques Heath (Lily May Peel)
- Allen, Mr. William Henry

Devise which string and slicing methods you can use to extract the titles as such:

```
"Mr"
"Mrs"
"Miss"
"Mrs"
"Mr"
```